-extends 'index.pug'
-load crispy_forms_tags i18n static

block extra_script
  script(src="{% static 'js/vue.js' %}")
  script(src="{% static 'js/superagent.js' %}")
  script(src="{% static 'js/detail.js' %}")


block content
  #app.popup-container

    .popup

      .left
        h2 DEINE FLÄCHENBIOGRAFIE

        p Fülle die Tabelle aus. Benutze eine neue Zeile, wenn die Wohnfläche oder die Anzahl der Personen wechselt.

        hr

        form#area_bio(method='post')

          #div_id_name.form-group
            label.form-control-label(for='id_name') Name
            div
              input#id_name.textInput.form-control(@change="updateBio", maxlength='150', name='name',
                required='', type='text', v-model='bio.name', :class="{ 'has-error': name_error }",
                maxlength="15", autocomplete="off")
          #div_id_age.form-group
            label.form-control-label(for='id_age') Alter
            div
              input#id_age.textinput.form-control(@change="updateBio", name='age', required='',
                type='number', v-model='bio.age', :class="{ 'has-error': age_error }", autocomplete="off")
          #div_id_country.form-group
            label.form-control-label(for='id_country') Land
            div
              select#id_country(@change="updateBio", name='country',
                                v-model='bio.country', :class="{ 'has-error': country_error }")
                option(value="")
                -for country in countries
                  option {{ country.1 }}

        hr
        h3 Geburt bis heute
        hr

        ul.table-area
          li(:key="0")
            .cell.one Wohnraum
            .cell.two Personen
            .cell.three Zeitraum
            .cell.four Grund
            .cell.five &nbsp;
          li(v-for='(entry, index) in entries', :class="'row_' + (index + 1)", :key="index+1", v-cloak)
            span.future(v-if="entry.future", v-cloak)
              h3 Zukunft
              hr
            .cell.one
              .input-group
                input.textInput.form-control(name='name', required='', autocomplete="off",
                  type='text', v-model='entry.living_space', @change="updateEntry(entry)",
                  :class="{ 'has-error': entry.living_space_error }")
                span.input-group-addon m²
            .cell.two
              input.textInput.form-control(maxlength='150', name='name', required='',
                type='text', v-model='entry.number_of_people', @change='updateEntry(entry)',
                :class="{ 'has-error': entry.number_of_people_error }", autocomplete="off")
            .cell.three
              input.textInput.form-control(maxlength='150', name='name', required='',
                type='text', v-model='entry.range', @change="updateRange(entry)",
                :class="{ 'has-error': entry.range_error }", autocomplete="off",
                @focus="setLastYear(entry)", @mousedown="$event.preventDefault(); $event.target.focus()")
            .cell.four
              input.textInput.form-control(maxlength='25', name='name', required='',
                type='text', v-model='entry.description', @change='updateEntry(entry)',
                @keyup.enter="nextRow(entry)", :placeholder="getPlaceholder(index)", maxlength="25",
                autocomplete="off")
            .cell.five
              i.fa.fa-times.delete(@click="deleteEntry(entry)")

        .add-entry(@click="addEntry")
          i.fa.fa-plus

        .spacer
        .buttons
          form(method="post", action="/graph/done/")
            {% csrf_token %}
            input(type="hidden", name="graph_uuid", :value="bio.uuid")
            a.button(href="/") Zurück
            a.button(href="#", :class="{'deactivated' : hasErrors() }", @click="submitForm") Fertig


      .right
        -verbatim
          h3(v-cloak) {{ bio | extractName | caps }}
          .graph-area

          #errorDialog.modal.fade(role="dialog", tabindex="-1")
            .modal-dialog
              .modal-content
                .modal-header
                  h4.modal-title Bitte korrigieren:
                .modal-body
                  p {{ errorText }}
                .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") OK

  script.
    var auth_token = "Token {{ token }}";
    var bio_id = {{ bio.id }};
